@import "tailwindcss";

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

.full-height {
  min-height: 100svh;
}

@keyframes slide-in {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 250ms ease-out;
}